.container-intro {
    width: 100%;
}

.container-i {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 95%;
    margin: 0 auto;
    padding: 40px 0px;
}

.intro {
    width: 100%;
    margin-left: 20px;
    margin-right: 70px;

    h2 {
        font-family: $font-title;
        font-size: 1.9em;
        font-weight: 700;
        color: $primaryColor;
        letter-spacing: 0.1em;
        line-height: 35px;
    }

    p {
        font-family: $font-p;
        font-size: 1.1em;
        color: $primaryColor;
        letter-spacing: 0.05em;
        line-height: 23px;

        padding: 20px 0px;
    }

    input {
        width: 350px;
        height: 35px;
        padding-left: 10px;


        &::placeholder {
            font-size: 16px;
        }
    }

    button {
        font-family: $font-p;
        font-size: 16px;
        color: $branco;

        width: 200px;
        height: 40px;
        margin-left: 10px;

        border: none;
        border-radius: 5px;

        background-color: $color-button;

        &:hover {
            cursor: pointer;
        }
    }
}

.intro-img {
    margin-right: 20px;
    img {
        width: 100%;
    }
}

.links, .icon {
    display: none;
}

// VALIDAÇÃO EMAIL (SE DER ERRO)
.alert::before {
    content: "Por favor, informe um email válido";
    color: red;
    font-family: $font-p;
    font-size: 12px;
}

.alert-input {
    border: 1px solid red;
}

//MEDIAS
@media (max-width: 1280px) {
    .form-email button {
        margin-left: 0px;
        margin-top: 10px;
    }
}

// MOBILE 

@include responsive(mobile) {
    .container-i {
        justify-content: center;
        flex-direction: column-reverse;
    }

    .intro {
        max-width: 90%;
        margin: 0 auto;

        h2 {
            font-size: 1.4em;
            text-align: center;
        }

        p {
            font-size: 0.9em;
            text-align: center;
            padding: 30px 0px;
        }
    }

    .intro-img {
        margin-right: 10px;
        margin-bottom: 90px;
        max-width: 85%;
    }

    .form-email {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        input {
            width: 100%;
            height: 45px;
            padding-left: 10px;
            margin-bottom: 20px;
            border: 1px solid;
        }

        button {
            width: 105%;
            height: 45px;
            margin-left: 0px;
        }
    }
}

// IPAD 

@include responsive(ipad) {
    .form-email button {
        margin-left: 0px;
        margin-top: 10px;
    }

    .intro-img img {
        width: 30rem;
    }

    .intro h2 {
        font-size: 1.4em;
    }
    .intro p {
        font-size: 0.9em;
    }
}

// FLUID
@include responsive(fluid) {
    .container-i {
        flex-direction: column-reverse;
        align-items: center;
    }

    .intro {
        width: 90%;
        margin: 100px auto 50px auto;

        h2 {
            text-align: center;
        }
        p {
            text-align: center;
        }

        .form-email {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20px;

            input {
                width: 400px;
            }
            button {
                width: 415px;
                height: 50px;
            }
        }
    }
}

